@import 'GlobalStyles.css';

.Brand {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;

    position: relative;
    width: 182px;
    height: 60px;


    /* Inside Text */
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height */

    /* Black 100% */
    color: var(--c-black-100);
}

.Brand .Text {
    width: 162px;
    height: 50px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
