@import "GlobalStyles.css";
@import "Icon.css";

.Button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;

    border-radius: 30px;

    transition: 0.075s;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    align-self: fit-content;

    user-select: none;

    cursor: pointer;
}

.Button-white {
    /* White 100% */
    background: var(--c-white-100);
}

.Button-black {
    /* White 100% */
    background: var(--c-black-100);
}

.Button .Text {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Button .Text-white {
    color: var(--c-white-100);
}

.Button .Text-black {
    color: var(--c-black-100);
}

.Button .Text-yellow {
    text-decoration-line: underline;
    color: var(--c-yellow);
}


.Button:hover .Text{
    text-decoration-line: underline;
    color: var(--c-yellow);
}

.Button:hover .InnerIcon {
    fill: var(--c-yellow);
}