@import 'GlobalStyles.css';

.InputField {
    /* InputField */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 7px;
    gap: 10px;

    width: 382px;
    height: 103px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.InputField .Text {
    /* Texts */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 368px;
    height: 25px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.InputField .Text .TextLeft {
    /* TextLeft */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 50px;
    height: 25px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.InputField .Text .TextRight {
    /* TextRight */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: fit-content;
    height: 25px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.InputField .Field {
    /* Field */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px 10px 10px;
    gap: 10px;

    width: 368px;
    height: 40px;

    /* Black 100% */

    border: 1px solid #000000;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}