@import 'GlobalStyles.css';


.Login {
    /* Desktop - Login */
    position: relative;
    width: 100%;
    height: 100%;
}

.LoginContainer {
    /* Container */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    /* White 100% */
    background: #FFFFFF;
}

.Login .Body {
    /* Body */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 0px;

    width: 1024px;
    height: fit-content;

    /* White 100% */
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.Body .HeaderContainer {
    /* HeaderContainer */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 0px;
    gap: 10px;

    width: fit-content;
    height: fit-content;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.HeaderContainer .Text {
    /* Text */


    width: 94px;
    height: 45px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}

.Body .SignInButtonContainer {
    /* Container */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px;
    gap: 10px;

    width: fit-content;
    height: fit-content;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.Body .CreateAccContainer {
    /* Container */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 34px 0px;
    gap: 10px;

    width: fit-content;
    height: fit-content;


    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
}