@import 'GlobalStyles.css';


.Navbar {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 1024px;
    height: 80px;

    /* White 100% */
    background: var(--c-white-100);
}

.BrandContainer {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 39px 0px 0px;

    width: 221px;
    height: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.ButtonContainer {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 793px;
    height: 100%;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.ButtonContainer .Left {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 299px;
    height: 40px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ButtonContainer .Right {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 13px;
    gap: 10px;

    width: 484px;
    height: 38px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}