@import 'GlobalStyles.css';

.ProductCardContainer {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    width: 262px;
    height: 303px;

    /* White 100% */

    background: var(--c-white-100);
    border-radius: 26px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ProductCardImage {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 242px;
    height: 141.5px;
    object-fit: cover;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.ProductCardBottomContainer {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 0px;

    /* width: 242px; */
    /* height: 141.5px; */

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.ProductCardTextsContainer {

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    /* width: 222px; */
    /* height: 91.5px; */


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.ProductCardTextsTopContainer {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* width: 222px; */
    height: 55.68px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.ProductCardTextsTopNameContainer {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;

    /* width: 222px; */
    /* height: 20px; */

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.ProductCardTextsTopName {
    /* width: 129px;
    height: 20px; */

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    /* Black 100% */
    color: var(--c-black-100);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ProductCardTextsTopScale {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    /* Black 100% */
    color: var(--c-black-100);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ProductCardTextsTopVendor {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;

    /* width: 222px;
    height: 35.68px; */

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.ProductCardTextsBottomContainer {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    /* width: 222px;
    height: 18px; */


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.ProductCardTextsBottomQuantity {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    /* Gray 70% */
    color: var(--c-gray-70);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ProductCardTextsBottomPrice {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    /* Black 100% */
    color: var(--c-black-100);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}