@import 'GlobalStyles.css';

.ProductDetailsBody {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 0px;

    width: 1024px;

    /* White 100% */
    background: var(--c-white-100);

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.ProductDetailsBodyHeader {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px 56px;
    gap: 10px;

    width: 305px;
    height: 79px;

    /* Text */
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    /* identical to box height */

    color: var(--c-black-100);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ProductDetailsLR {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 45px 0px;
    gap: 25px;

    width: 100%;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.ProductDetailsLRImage {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 497px;
    height: 376px;
    object-fit: cover;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.ProductDetailsLRRight {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 23px;
    gap: 10px;

    /* width: 502px; */
    /* height: 376px; */

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.ProductDetailsLRRightTexts {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 0px;
    gap: 9px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    /* Black 100% */
    color: var(--c-black-100);
}

.ProductDetailsLRRightButtons {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 50px;

    /* width: 456px; */
    /* height: 127px; */

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.ProductDetailsBot {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 29px;
    gap: 10px;

    width: 1024px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    /* Black 100% */

    color: var(--c-black-100);
}